@import "../wwwroot/scss/colors";
@import "../wwwroot/scss/sizes";
@import "../wwwroot/scss/mixins.scss";

.title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: $primary-color-900;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    gap: 24px;
    width: 100%;
}

