$primary-color: #000A37;
$primary-color-100: #DFE0EB;
$primary-color-200: #9FA2B4;
$primary-color-700: #2A345A;
$primary-color-800: #70768F;
$primary-color-900: #252733;

$secondary-color: #F66928;
$secondary-color-100: #F5F5F5;;
$secondary-color-200: #EFEFEF;
$secondary-color-300: #DCDCDC;

$background-color: #FAFBFE;
$accent-color: white;

$text-color: #555555;
$text-color-darker: #777777; 
$comp-color: black;